@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with (
  $primary: color-palette.$teal-500,
  $secondary: color-palette.$blue-grey-200,
  $surface: color-palette.$blue-grey-100,
  $background: color-palette.$blue-grey-50,
  $error: color-palette.$red-600
);

@import '../styles.scss';