@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with (
  $primary: color-palette.$blue-600,
  $secondary: hsl(0 0% 33%),
  $surface: #fff,
  $background: color-palette.$blue-grey-50,
  $error: color-palette.$red-600
);

@import './styles.scss';