*, *::after, *::before {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    background-color: hsl(var(--clr-gray-400));
}

:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: hsl(var(--clr-gray-900));

    --clr-gray-500: 0 0% 33%;
    --clr-gray-400: 0 0% 20%;
    --clr-gray-900: 0 0% 95%;
    --clr-gray-800: 0 0% 83%;

    --clr-yellow: 60 100% 50%;
}

h1 {
    margin: 0;
    margin-bottom: 1rem;
}


main {
    padding-block: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}